Aarne Ranta <aarne@chalmers.se> <aarne@c65aaa6c-c3b3-4e7b-ac5e-b48955d7ee5d>
Aarne Ranta <aarne@chalmers.se> <aarne@dhcp-185208.eduroam.chalmers.se>
Aarne Ranta <aarne@chalmers.se> <aarne@Aarnes-MacBook-Pro.local>
Adam Sandberg Eriksson <adam@sandbergericsson.se>
Alex Rozenshteyn <rpglover64@gmail.com>
Anders Mörtberg <mortberg@chalmers.se>
Andreas Abel <andreas.abel@ifi.lmu.de> <andreas.abel@gu.se>
Andreas Lööw <AndreasLoow@users.noreply.github.com>
Ben Wiederhake <BenWiederhake.GitHub@gmx.de>
Caleb Welton <cwelton@gopivotal.com>
Daniel Bailey <danieljabailey@gmail.com>
Dave Jarvis <DaveJarvis@users.noreply.github.com>
Dylan McDermott <dylanmcdermott9@gmail.com>
Fabian Ruch <bafain@gmail.com>
Francesco Mazzoli <f@mazzo.li>
Gabriele Paganelli <gabriele.paganelli@chalmers.se> <gapag@autistici.org>
Grégoire Détrez <gregoire@fripost.org> <gregoire.detrez@gu.se>
Grégoire Détrez <gregoire@fripost.org> <gdetrez@crans.org>
Jan Clarin <hi@janclarin.com>
Jean-Philippe Bernardy <jeanphilippe.bernardy@gmail.com>
Jeff Chen <jeff.polk230@gmail.com>
John J. Camilleri <john@johnjcamilleri.com>
John Lato <jwlato@tsurucapital.com>
Jonas Almström Duregård <jonas.duregard@chalmers.se> <JonasDuregard@c65aaa6c-c3b3-4e7b-ac5e-b48955d7ee5d>
Josef Svenningsson <josef.svenningsson@gmail.com>
Justin Meiners <justin@pyrofex.net>
Kent Mein <mein@cs.umn.edu>
Kyle Butt <kyle@iteratee.net>
Markus Forsberg <markus@c65aaa6c-c3b3-4e7b-ac5e-b48955d7ee5d>
Michael Tsukerman <miketsukreman@gmail.com>
Michał Krzysztof Filipiuk <mkfilipiuk@gmail.com>
Michał Łuszczyk <mluszczyk@users.noreply.github.com>
Oliver Bunting <oliverbunting@gmail.com>
Pascal Hof <pascal.hof@tu-dortmund.de>
Peter Simons <simons@cryp.to>
Raphael Isemann <teemperor@gmail.com>
Rob Stewart <robstewart57@gmail.com>
Simon Huber <hubsim@gmail.com>
Thomas Hallgren <thomas+h@altocumulus.org> <hallgren@c65aaa6c-c3b3-4e7b-ac5e-b48955d7ee5d>
Torben Lehmann <torben.leh@outlook.com>
Wictor Lund <wlund@abo.fi>
Florian Mayer <mayerflorian@me.com>
